@media (max-width: 1199px) {
    
}
   
    
@media (max-width: 991px) {
    .container {
        width: 740px;
    }
    .advantages {
        &__descr {
            font-size: 13px;
        }
    }
    .consultation {
        padding: 85px 0 92px 0;
        &__descr {
            margin-top: 54px;
        }
    }
    .title_left {
        font-size: 30px;
    }
    .feedback {
        &__item {
            margin-right: 0px;
        }
        &__descr {
            width: 540px;
        }
    }
}

        

@media (max-width: 767px) {
    .container {
        width: 565px;
    }
    .header {
        &__logo {
            width: 190px;
        }
            img {
                width: 100%;
        }
    }
    .promo {
        &__wrapper {
            align-items: center;
        }
    }
    .advantages {
        &__item {
            
            &:nth-child(1) {
                width: 180px;
            }
            &:nth-child(2) {
                width: 180px;
            }
            &:nth-child(3) {
                width: 180px;
            }
            
        }
        &__subtitle {
            margin-top: 38px;
            font-size: 15px;
            font-weight: 700;
            text-align: center;
        }
        &__descr {
            margin-top: 29px;
            font-size: 12px;
            font-weight: 300;
            text-align: center;
            a {
                color: #ff0000;
                text-decoration: underline;
            }
        }
    }
    .consultation {
        &__descr {
            margin-top: 45px;
        }
    }
    .title_left {
        font-size: 25px;
    }
    .catalog {
        &__tab {
            width: 170px;
            height: 45px;
            font-size: 16px;
            line-height: 43px;
            
        }
        &__content {
            justify-content: center;
        }
    }
    .feedback {
        
        &__descr {
            width: 366px;
        }
        &__name {
            font-size: 15px;
        }
        &__title {
            margin-top: 5px;
            font-size: 10px;
        }
        &__text {
            margin-top: 10px;
            font-size: 12px;
        }
    }
    .footer {
        height: 450px;
    }
}
    

@media (max-width: 575px) {
    .container {
        width: 320px;
    }
    .header {
        flex-wrap: wrap;
        justify-content: center;
        &__logo {
            width: 160px;
        }
        &__official {
            font-size: 10px;
            span {
                font-size: 12px;
            }
        }
        &__phone {
            margin-top: 15px;
        }

    }
    .promo {
        &__wrapper {
            margin-top: 55px;
        }
        &__header {
            font-size: 24px;
            line-height: 0;
        }
        &__subheader {
            font-size: 13px;
            line-height: 13px;    
        }
        &__icons {
            margin-top: 56px;
            width: 300px;
        }
        &__icon {
            width: 82px;
            font-size: 10px;
            img {
                margin-bottom: 14px;
            }
        }
        
    }
    .title {
        font-size: 22px;
    }
    .advantages {
        padding: 50px 0 ;
        &__wrapper {
            margin: 30px auto 0 auto;
            flex-wrap: wrap;
            justify-content: center;

        }
        &__item {
            &:nth-child(1) {
                content: '';
                width: 239px;
            }
            &:nth-child(2) {
                content: '';
                width: 243px;
                margin-top: 30px;
            }
            &:nth-child(3) {
                content: '';
                width: 247px;
                margin-top: 30px;
            }
        }
        &__subtitle {
            margin-top: 22px;
            font-size: 18px;
        }
        &_descr {
            margin-top: 19px;
            font-size: 14px;
        }
    }
    .consultation {
        min-height: 635px;
        &__descr {
            font-size: 14px;
            text-align: center;
        }
    }
    .title_left {
        font-size: 14px;
        text-align: center;
    }
    .feed-form {
        margin: 36px auto 0 auto;
    }
    .catalog {
        &__tab {
            width: 90px;
            height: 32px;
            font-size: 10px;
            line-height: 30px;
            
        }
    }
    .feedback {
        &__item {
            justify-content: center;
            margin-right: 0px;
            flex-wrap: wrap;
            &:nth-child(2) {
                margin-top: 50px;
            }
            &:nth-child(3) {
                margin-top: 70px;
            }
            &:nth-child(4) {
                margin-top: 70px;
                margin-bottom: 50px;
            }
    
        }
        &__descr {
            width: 300px;
            }
        
        img{
            margin-bottom: 30px;
        }
    }
    .footer {
        height: 380px;
        &__info {
            width: 280px;
            height: 180px;
            padding: 24px;
        }
        &__addr {
            margin-bottom: 22px;
            font-size: 14px;
            line-height: 14px;
    
        }
        &__phone {
            margin-bottom: 22px;
            font-size: 16px;
            line-height: 16px;
    
        }
        &__social-item {
            width: 40px;
            height: 40px;
            img {
                height: 21px;
            }
        }
        
        
    }

}